@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Dhurjati&family=League+Gothic&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Timmana&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&family=Zen+Antique&display=swap');
@tailwind components;
@tailwind base;
@tailwind utilities;

input:-webkit-autofill {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

input:-webkit-autofill:focus {
  background-color: white !important;
  color: black !important;
  border-color: indigo !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

/* Hide vertical scrollbar globally while enabling scrolling */
html,
body {
  overflow-y: scroll;
  /* Enable scrolling */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for WebKit browsers */
}

/* Optional: Prevent horizontal scrolling */
html,
body {
  overflow-x: hidden;
}

/* Hide scrollbar for all elements */
.my-scrollable-container {
  overflow-y: scroll;
  /* Enable scrolling */
}

.my-scrollable-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Webkit browsers */
}

.my-scrollable-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}